<%= render 'layouts/search' %>
<%= render 'layouts/alert'%>
<div class="container text-center">
  <% @posts.each do |post| %>
    <%= render 'public/posts/posts', post: post %>
    <div class="border-top my-4"></div>
  <% end %>
</div>