<div class="container text-center">
  <div>
    <% if @post.post_image.attached? %>
      <%= image_tag @post.post_image, size: "200x200" %>
    <% end %>
  </div>
  <div>
    <h3>タイトル</h3>
    <%= @post.title %>
  </div>
  <div>
    <h3>投稿内容</h3>
    <%= @post.body %>
  </div>
</div>
