<% if flash[:comment] %>
    <div class="alert alert-success text-center mx-auto mt-2" style="width: 70%;">
  <%= flash[:comment] %><button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% end %>