header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  transition: transform 0.3s 0.3s;
}

header.hidden {
    transform: translateY(-80px);
}

.img-fluid { 
  max-height: 80px; /* 画像の縦方向の最大高さを80pxに設定 */ 
}

@media (max-width: 550px) {
  .col.d-flex.justify-content-end {
    font-size: auto; /* 550px未満の場合のフォントサイズ */
  }
}

@media (max-width: 437px) {
  .col.d-flex.justify-content-end {
    font-size: 12px; /* 437px未満の場合のフォントサイズ */
  }
}

/*showページの改行機能*/
.new_line, .body {
  white-space: pre-wrap;
}