.img-fluid { 
  max-height: 80px; /* 画像の縦方向の最大高さを300pxに設定 */ 
}

@media (max-width: 550px) {
  .col.d-flex.justify-content-end {
    font-size: 12px; /* 600px未満の場合のフォントサイズ */
    padding-right: 0px;
  }
}

@media (max-width: 437px) {
  .col.d-flex.justify-content-end {
    font-size: 11px; /* 600px未満の場合のフォントサイズ */
    padding-right: 0px;
  }
}

@media (max-width: 420px) {
  .col.d-flex.justify-content-end {
    font-size: 9px; /* 600px未満の場合のフォントサイズ */
    padding-right: 0px;
  }
}