<%= render 'layouts/search' %>
<div class="container text-center">
  <div class="row">
    <h2 class="col mb-3">ユーザー一覧</h2>
  </div>
    <%= render "admin/users/index", users: @users %>
    <%= paginate @users %>
</div>