<%= render 'layouts/search' %>
<div class="container text-center">
  <h5><%= @user.name %> さんのお気に入り一覧</h5>
  
  <% @favorite_posts.each do |post| %>
    <%= render 'public/posts/posts', post: post %>
  <% end %>
</div>
